<md-dialog bs-loading-overlay>
  <form ng-cloak>
    <md-dialog-content>
      <div class="md-dialog-content">
        <p class="title_newblog">New Blog</p>

       <md-input-container class="title-input">
          <label>Title</label>
          <input type="string" ng-model="title">
        </md-input-container>

        <textarea ui-tinymce="tinymceOptions" ng-model="tinymceModel"></textarea>

       <div class="col-md-9" style="margin-top: 40px">
            
            <table class="table" style="width:100%">
              <thead style="width:100%">
              <tr style="width:100%">
                <th>Name</th>
                <th flex ng-show="uploader.isHTML5">Size</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="item in uploader.queue">
               <td><p class="image-url-slider"><strong>{{ item.file.name | limitTo: 20 }}...</strong></p></td>
                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                
                <td class="text-center">
                  <span ng-show="item.isSuccess"><i class="fa fa-check" aria-hidden="true"></i></span>
                  <span ng-show="item.isCancel"><i class="fa fa-ban" aria-hidden="true"></i></span>
                  <span ng-show="item.isError"><i class="fa fa-times" aria-hidden="true"></i></span>
                </td>
                <td nowrap style="padding-top:20px">
                  <button type="button" class="btn btn-danger btn-xs" ng-disabled="isDisabled" ng-click="item.remove()">
                    <span class="fa fa-trash"></span>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
    </md-dialog-content>

    <md-dialog-actions class="btns-pop-up-all" layout="row">
        <div layout-gt-sm="row" layout="column" layout-align="space-between center">
          <div class="input-choose-file" flex-gt-sm="100" flex style="float:left"><input type="file" nv-file-select="" uploader="uploader"/></div>
          <div flex-gt-sm="100" flex></div>
          <div class="close-save-btn2" flex-gt-sm="100" flex><md-button md-no-ink class="md-raised md-primary md-button" ng-disabled="isDisabled" ng-click="answer('add')">Save</md-button>
          <md-button md-no-ink class="md-raised md-warn md-button" ng-disabled="isDisabled" ng-click="answer('close')">Close</md-button></div>
        </div>
    </md-dialog-actions>

  </form>
</md-dialog>
