<md-dialog>
  <form ng-cloak>
    <md-dialog-content>
      <div class="md-dialog-content">
        <p class="title_newblog" style="margin-bottom: 30px;">Reserve day</p>
    </md-dialog-content>
    <md-input-container class="title-input">
          <label>Description</label>
          <input type="string" ng-model="description" required>
    </md-input-container>

    <div  layout-gt-sm="row" layout="column" class="reserve-popUp-footer" layout-align="space-between center">
        <div style="text-align: left;" flex-gt-sm="100" class="checkbox-reserve-day">
          <md-checkbox ng-model="checkboxModel" ng-true-value="1" ng-false-value="0" aria-label="Checkbox 1">
                Reserve day
          </md-checkbox>
        </div>
         <div flex-gt-sm="100" class="datepicker_calendar">
  <!-- <form name="myForm" flex-gt-xs> -->
             <label for="dateField">Extended date:</label>
          <md-datepicker id="dateField" name="dateField" ng-model="myDate" md-placeholder="Enter date"
              required md-min-date="minDate" md-max-date="maxDate"
              md-date-filter="onlyWeekendsPredicate">
          </md-datepicker>
        <!-- </form> -->
          </div>
          <div class="responsive-btn-cls-save" flex-gt-sm="100" style="text-align: right;">
            <md-button md-no-ink class="md-raised md-primary md-button" ng-disabled="!description" ng-click="addReserve()">Save</md-button>
            <md-button md-no-ink class="md-raised md-warn md-button" ng-click="close()">Close</md-button>
          </div>
    </div>
  </form>
</md-dialog>
