<div class="grid_menu">
  <section class="hamburger_menu_blog" layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
      <md-button ng-click="toggleLeft()" class="md-icon-button md-primary" aria-label="Settings">
      <i class="fa fa-bars hamburger_icon"></i>
      </md-button>
  </section>
  <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links" class="media_menu">
          <md-nav-item md-nav-click="goto('/admin/blog')" name="blog">Blog</md-nav-item>
          <md-nav-item md-nav-click="goto('/admin/portfolio')" name="portfolio">Portfolio</md-nav-item>
          <md-nav-item md-nav-click="goto('/admin/slider')" name="slider">Slider</md-nav-item>
          <md-nav-item md-nav-click="goto('/admin/calendar')" name="calendar">Calendar</md-nav-item>
  </md-nav-bar>
  <!-- Content here -->
  <md-button class="md-primary md-hue-1 button_logout fa fa-lock" ng-click="logOut()"> Logout</md-button>
    <div layout="column" style="height:100%;" ng-cloak="" class="sidenavdemoCustomSidenav">
     <section layout="row" flex="">
       <md-sidenav class="md-sidenav-left shadows_side" md-component-id="left" md-disable-backdrop="" md-whiteframe="4">
         <md-toolbar class="md-theme-indigo">
           <md-button ng-click="toggleLeft()" class="icon_position md-accent fa fa-times x_hover">
             <i class="fa fa-times close_icon"></i>
           </md-button>
           <h1 class="title_hamburger">MENU</h1>
         </md-toolbar>
         <md-content class="list_style">
          <ul>
           <li><a href="#/admin/blog">BLOG</a></li>
           <li><a href="#/admin/portfolio">PORTFOLIO</a></li>
           <li><a href="#/admin/slider">SLIDER</a></li>
           <li><a href="#/admin/calendar">CALENDAR</a></li>
          </ul>
         </md-content>
       </md-sidenav>
    </div>
</div>
