<div ng-include="'partials/admin/admin-menu.html'" ng-controller="AdminMenuController"></div>
<div class="grid_blog">
  <div class="container">
      <div class="ext-content">
      </div>
      <div class="container tc well1 calendar-admin-panel">
          <div ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="myCalendar"></div>
        </div>

        
    </div>
  </div>
