<div ng-include="'partials/admin/admin-menu.html'" ng-controller="AdminMenuController"></div>
<div class="grid_blog">
  <div layout="row" layout-align="start">
    <div>  <md-button class="btn btn-success btn-s" ng-click="addPortfolio($event)">add</md-button></div>
    <div class="text_margin_blog"><p class="text_position">Add new portfolio content</p></div>
  </div>
  <div layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-circular  md-mode="indeterminate" ng-disabled="!activated" value="{{determinateValue}}"></md-progress-circular>
  </div>
    <md-content>
      <md-list flex>
        <md-list-item class="md-3-line" ng-repeat="portfolio in portfolios | orderBy: 'created_at':true" ng-click="null" href="#/portfolio/{{portfolio.id}}">
          <img ng-src="{{portfolio.images[0].image_url}}" class="picture-portfolio-admin"/>
          <div class="md-list-item-text" layout="column">
            <h3>{{ portfolio.title }}</h3>
            <div class="blog-description-manepage" ng-bind-html="parseHtml(portfolio.description | limitTo: 100)">
                
            </div>
          </div>
          <div class="edit-delete-btn">
            <md-button md-no-ink class="md-raised md-primary" ng-click="editPortfolio($event, portfolio.id)">Edit</md-button>
            <md-button md-no-ink class="md-raised md-warn" ng-click="deletePortfolio($event, portfolio.id)">Delete</md-button>
            </div>
        </md-list-item>
        <md-divider ></md-divider>
    </md-content>
</div>
