<div ng-include="'partials/admin/admin-menu.html'" ng-controller="AdminMenuController"></div>
<div class="grid_blog">
  <md-content class="md-padding" bs-loading-overlay>
      <div class="ext-content sliders">
        <div>
        <div layout="row" layout-sm="column" layout-align="space-around">
            <md-progress-circular  md-mode="indeterminate" ng-disabled="!activated" value="{{determinateValue}}"></md-progress-circular>
        </div>
          <div class="col-md-9" style="margin-bottom: 40px">
            <div class="upload-pictures-text-and-btn">
                <p class="upload-pictures-text">Upload pictures</p>
                    <input type="file" nv-file-select="" uploader="uploader" multiple />
            </div>

            <table class="table" style="width:100%">
              <thead style="width:100%">
              <tr style="width:100%">
                <th class="th-images">Images</th>
                <th class="th-name">Name</th>
                <th class="th-size" flex ng-show="uploader.isHTML5">Size</th>
                <th class="th-status">Status</th>
                <th class="th-action">Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="item in uploader.queue">
                <td><img class="size-images-preview" ng-src="{{item.file.type}}"/></td>
                <td class="td-name"><p class="image-url-slider"><strong>{{ item.file.name | limitTo: 20 }}</strong></p></td>
                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                
                <td class="text-center">
                  <span ng-show="item.isSuccess"><i class="fa fa-check" aria-hidden="true"></i></span>
                  <span ng-show="item.isCancel"><i class="fa fa-ban" aria-hidden="true"></i></span>
                  <span ng-show="item.isError"><i class="fa fa-times" aria-hidden="true"></i></span>
                </td>
                <td nowrap style="padding-top:20px">
                  <button type="button" class="btn btn-danger btn-xs" ng-click="removeFromDb(item.file.name); item.remove()">
                    <span class="fa fa-trash"></span>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
            <div layout="row" layout-sm="column" layout-align="space-around">
                  <md-progress-circular md-mode="determinate" ng-disabled="!loaderActivate" value="{{determinateValue}}"></md-progress-circular>
              </div>
            <div class="slider-btn">
              <button type="button" class="btn btn-success btn-s" ng-click="customUpload()" ng-disabled="!uploader.getNotUploadedItems().length">
                <span class="glyphicon glyphicon-upload"></span> Upload all
              </button>
              
            </div>
          </div>    
        </div>
      </div>
    </md-content>
</div>
