<div class="container"> 
	<div class="single-view-title">
		<h1>{{blog.title}}</h1>
	</div>
	<div class="single-view"> 
		<p>{{blog.created_at}}</p>
		<div layout="row" layout-sm="column" layout-align="space-around">
            <md-progress-circular  md-mode="indeterminate" ng-disabled="!activated" value="{{determinateValue}}"></md-progress-circular>
        </div>
		<img ng-src="{{blog.images[0].image_url}}"  />
	</div>
	<div class="description" ng-bind-html="parseHtml()">

	</div>
</div>
