<div class="container tc well1">
  <div id="all_content">
    <div class="circle_x"><i class="fa fa-times close_button"></i></div>
    <ul id="dropdown_calendar" class="dropdown-content">
      <li>January</li>
      <li>February</li>
      <li>March</li>
      <li>April</li>
      <li>May</li>
      <li>June</li>
      <li>July</li>
      <li>August</li>
      <li>September</li>
      <li>October</li>
      <li>November</li>
      <li>December</li>
    </ul>
  </div>

  <div ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="myCalendar"></div>
</div>
