﻿

  <main>
    <section class="well3">
      <div class="container">
        <h3 class="tc"><span>contact form</span></h3>
        <form class='mailform' method="post" onsubmit="return false;">
          <input type="hidden" name="form-type" value="contact"/> 
          <fieldset>
            <div class="row">
              <div class="grid_6">
                <label> 
                  <input style ="color:#d02525" type="text" 
                  name="name" 
                  ng-model="name"
                  placeholder="Name" 
                  data-constraints="@LettersOnly @NotEmpty" required/>
              </label> 
              </div>
              <div class="grid_6">
                <label> 
                  <input style ="color:#d02525" type="text" 
                  name="email" 
                  ng-model="email"
                  placeholder="Email" 
                  data-constraints="@Email @NotEmpty" required/>
              </label>
              </div>
            </div>
              <label> 
                  <input style ="color: #d02525" type="text"
                  ng-model="phonenumber" ui-mask="+1 (999) 999-9999"  ui-mask-placeholder ui-mask-placeholder-char="_" required/>
              </label> 
          
              <label> 
                  <textarea ng-model="contactMessage" style ="color:#d02525" name="message" placeholder="Message" 
                  data-constraints="@NotEmpty" required></textarea> 
              </label> 

              <div class="mfControls"> 
                  <button class="btn" type="submit" ng-click="sendMail()">Send message</button>
              </div> 
          </fieldset> 
      </form> 
        
      </div>
    </section>
  </main>
