<main>
    <section class="well3">
      <div class="terms container">
      		<h3 style="padding-bottom: 50px; text-decoration: underline;" class="tc"><span>Frequently Asked Questions</span></h3>
      		<h4>What is included in the minimum 3-day rental?</h4>
      		<p>Your reservation gives you full and exclusive access to the first floor of the farmhouse, barn and grounds for the duration of your reservation. Free, unlimited parking. </p>
      		<h4>What are the sleeping arrangements?</h4>
      		<p>Allrose Farm is not available for lodging during the 2017 season. </p>
      		<h4>Where can I find suitable lodging facilities?</h4>
      		<p>There is a good selection of hotels, motels and inns within close proximity to Allrose Farm. See our lodging recommendations in the Preferred Vendor section.</p>
      		<h4>What additional services are included in my reservation?</h4>
      		<p>Your reservation covers the venue only. Additional event services such as caterers, tents & tables, linens, silverware, etc. are not available from Allrose Farm and you are free to use whatever vendors you choose. See the Preferred Vendor List for our suggestions.</p>
      		<h4>How do I find out about additional wedding services, such as catering?</h4>
      		<p>Local vendors from the Monadnock Region offer everything from organic beef and wildflowers to music and contradancing. Check out our preferred vendor page for insider information on the finest vendors and services the area has to offer.</p>
      		<h4>Do you have ceremony sites on the grounds?</h4>
      		<p>There are many options to choose from when planning your ceremony at Allrose Farm. A rose arbor in the sunken garden? Or at the top of a gently sloping lawn by the pond?  On the balcony off the barn? Whatever you decide, the rustic elegance of Allrose Farm will create memories that last a lifetime.</p>
      		<h4>Are pets allowed?</h4>
      		<p>Allrose Farm is pet-friendly and we encourage animal participation at weddings and events!!!</p>
      		<h4>How many guests can be accommodated at the wedding?</h4>
      		<p>The barn can accommodate up to 125 guests. If a tent is chosen, the grounds can accommodate a tent up to 120x90, which can comfortably accommodate 120 guests.</p>
      		<h4>Is the main house air-conditioned?</h4>
      		<p>The farmhouse stays fairly comfortable during the summer with cooling cross breezes. However, we do furnish room air-conditioners to keep nervous brides and bridesmaids cool while getting ready!</p>
      		<h4>What kind of restroom facilities are available for the event?</h4>
      		<p>For events with more than 40 guests, we ask that you rent a portable restroom for the duration of your event. Check out our Preferred Vendor page for more information on rentals. During set-up and breakdown and off-hours, you and your event staff have access to a first floor bathroom located in the farmhouse.</p>
      		<h4>What kind of parking facilities are available for my event?</h4>
      		<p>Allrose Farm has a convenient parking lot for up to 50 cars with additional parking space available in adjacent pasture. For events of 75 guests or more, we ask that you assign a Parking Lot Attendant for the duration of your event.</p>
      		<h4>What are your rates for 2017 events?</h4>
      		<p>To request a quote for your event, please go to the <a class="color-red" href="#/calendar">calendar availability</a> section and complete the <a class="color-red" href="#/contact">contact us</a> form.</p>
		  	<p>A sample contract can be viewed and downloaded <a class="color-red" href="assets/wedding_venue_contract.docx">here</a>.</p>
  		</div>
    </section>
 </main>
