<div class="page">
  <!--========================================================
                            CONTENT
  =========================================================-->
  <main>
      <!-- Swiper -->
      <div class="swiper-container s1">
        <div class="swiper-wrapper">
          <div class="swiper-slide" ng-repeat="img in slider"><img ng-src="{{img.image_url}}" /></div>
        </div>
        <!-- Add Pagination -->
        <!--<div class="swiper-pagination"></div>-->
      </div>
    <section class="bg-default bg-h">
      <div class="container">
        <div class="row">
          <div class="grid_4">
            <h4 class="mod"><span class="fa fa-university"></span>A rural New England<span class="lg">wedding venue that defines rustic elegance</span></h4>
          </div>
          <div class="grid_8">
            <ul class="list1">
              <li style="height: 100px; "data-equal-group="5">
                <p style="vertical-align: middle; padding: 7px;">Secluded and exclusive access to a 37-acre estate</p>
              </li>
              <li style="height: 100px;" data-equal-group="5">
                <p style="vertical-align: middle; padding: 17px;">Huge 4-story barn built in 1900</p>
              </li>
              <li style="height: 100px;" data-equal-group="5">
                <p>Three acres of gardens and landscaped grounds</p>
              </li>
              <li style="height: 100px;" data-equal-group="5">
                <p>Spacious 1890s farmhouse for use by the wedding party</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="well1">
      <div class="container tc">
        <h2>Discover Allrose Farm</h2>
        <div class="row">
          <div class="preffix_1 grid_10 tc">
            <img src="images/page-2_img01.jpg" alt="">
            <h4>Where is Allrose Farm? </h4>

            <p> Allrose Farm can be found on a quiet country road in the charming New Hampshire town of Greenfield. Located in the heart of New Hampshire’s Monadnock Region, privacy abounds with not a building in sight. Old stonewalls, towering maple trees, a pond, established gardens and horse-grazed pastures all combine to provide the perfect backdrop for your country wedding or special event. 50 minutes from Nashua, Manchester and Keene. 90 minutes from Boston. </p>
            <a class="btn" href="#/contact">contact us</a>
          </div>
        </div>
      </div>
    </section>

    <section class="full">
      <div class="full_left bg4"></div>
      <div class="container">
        <div class="row">
          <div class="preffix_6 grid_6 bg-default">
            <div class="full-inner wow fadeInRight">
              <h3 class="mod">Check availability </h3>
              <h5><span>Reserve your weekend!</span></h5>
              <p>Allrose Farm events take place from May – October. We have limited availability and open weekends go quickly so claim your date today!</p>
              <a class="btn2" href="#/calendar">Go to our calendar now</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="well4">
      <div class="container tc border wow fadeInUp">
        <h3><span>A Mission For Allrose Farm</span></h3>
        <div class="row">
          <div>
            <p>Our mission is to create a quiet and relaxed environment for anyone seeking a wedding or event venue in a rural New England setting. Our goal is to provide you with the perfect country setting to create beautiful memories. <br><br><span class="owner_manager"> Michele Perron, Owner and Manager.</span> </p>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="wow fadeInDown">
          <h3 class="text-center">Drive to us</h3>
        <div class="row">
          <a target="_blank" href="https://www.google.com/maps/dir/current+location/121+East+Road+Greenfield,+NH,+03047/">
            <img src="images/route.png" alt="Drive to us image">
          </a>
        </div>
        <!--<ng-map zoom="14" center="42.9506384, -71.8723003">-->
              <!--<directions-->
                <!--draggable="true"-->
                <!--travel-mode="DRIVING"-->
                <!--origin="current-location"-->
                <!--destination="121 East Road, Greenfield, NH 03047, USA">-->
              <!--</directions>-->
          <!--</ng-map>-->
      </div>
    </section>
  </main>
