﻿

  <!--========================================================
                            CONTENT
  =========================================================-->
  <main>
    <section class="well3">
      <div class="container tc">
        <h3 ng-if="portfolios.length>0 && !activated"><span>Wedding Albums <br><span class="subtitle_portfolio"> An intimate look at Allrose Farm weddings & special occasions</span></span></h3>
        <div layout="row" layout-sm="column" layout-align="space-around">
            <md-progress-circular  md-mode="indeterminate" ng-disabled="!activated" value="{{determinateValue}}"></md-progress-circular>
        </div>
        <h2 ng-class="{'text-center': true}" ng-if="portfolios.length==0 && !activated">No portfolios found.</h2>
        <div class="row wow fadeInUp">
          <div class="grid_4 portfolio-design" ng-repeat="portfolio in portfolios | orderBy:'created_at':true">
            <div class="box" data-equal-group="1">
              <a data-fancybox-group="1" class="thumb" href="{{portfolio.images[0].image_url}}">
                <img ng-src="{{portfolio.images[0].image_url}}" alt="">
                <span class="thumb_overlay"></span>
              </a>
             <h4><a href="#/portfolio/{{portfolio.id}}">{{portfolio.title}}</a></h4>
             <div ng-bind-html="parseHtml(portfolio.description | limitTo: 100)">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="full">
      <div class="full_left bg4"></div>
      <div class="container">
        <div class="row">
          <div class="preffix_6 grid_6 bg-default">
            <div class="full-inner wow fadeInRight">
              <h3 class="mod">Check availability</h3>
              <h5><span> Reserve your weekend!</span></h5>
              <p>Allrose Farm events take place from May – October. We have limited availability and open weekends go quickly so claim your date today! </p>
              <a class="btn2" href="#/calendar">Go to our calendar now</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="well3">
      <div class="container">
        <div class="row">
          <div class="grid_8 wow fadeInLeft ">
            <div class="box2 box2_bg4">
              <div class="box2_cnt2">
                <h3><span>ALLROSE FARM DEFINES RUSTIC ELEGANCE</span> </h3>
                <p>The rural simplicity and classic elegance of Allrose Farm is truly unique. An 1890s farmhouse awaits you for relaxed family gatherings and pre-celebration preparations and activities. Use the massive 40x70 barn for rehearsal dinners, ceremonies and receptions. It's attached to the house for easy access to the kitchen. Mature, professionally landscaped gardens offer beautiful bursts of color at every turn.</p>
              </div>
            </div>
          </div>
          <div class="grid_4 wow fadeInRight">
            <h3><span>AN ALL-INCLUSIVE EXPERIENCE</span></h3>
            <ul class="marked-list2">
               <li>
                 <h6><a href="#">Your wedding or event at Allrose Farm provides you with exclusive access to the following beautiful features:</a></h6>
                 <p><strong>Seclusion</strong> on a private 37-acre estate</p>
                 <p><strong>Spacious</strong> 1890s farmhouse with living and dining areas and a cook's kitchen</p>
                 <p><strong>4-level barn</strong> (capacity 125) with sun deck and screened porch</p>
                 <p><strong>3+ acres of gardens,</strong> ponds and landscaped grounds</p>
                 <p><strong>Groom's Cottage -</strong> a day cottage for casual gatherings</p>
                 <p><strong>Ample parking</strong> is available onsite</p>
                 <p>Pastures, woodlands and farm animals</p>
                 <p>Hiking, biking and children's activities</p>
                 <p>Countless ceremony sites and photo settings</p>
               </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </main>
