<div class="container">
	<div class="single-view-title">
		<h1>{{portfolio.title}}</h1>
	</div>
	<div class="single-view">
		<p>{{portfolio.created_at}}</p>
		<div layout="row" layout-sm="column" layout-align="space-around">
            <md-progress-circular  md-mode="indeterminate" ng-disabled="!activated" value="{{determinateValue}}"></md-progress-circular>
        </div>
		<div class="swiper-container s2">
			<div class="swiper-wrapper">
				<div class="swiper-slide" ng-repeat="img in portfolioImages">
					<a data-fancybox-group="1" class="thumb" href="{{img.image_url}}">
						<img ng-src="{{img.image_url}}" />
						<span class="thumb_overlay"></span>
					</a>
				</div>
			</div>
			<!-- Add Pagination -->
			<!--<div class="swiper-pagination"></div>-->
			<!-- Add Arrows -->
			<div class="swiper-button-next"></div>
			<div class="swiper-button-prev"></div>
		</div>
	</div>
	<div class="description" ng-bind-html="parseHtml()">

	</div>
</div>
