<main>
    <section class="well3">
        <div class="terms container text-center">
            <h3 style="padding-bottom: 50px;" class="tc"><span>Preferred Vendors</span></h3>
            <h4>Preferred Caterer:</h4>
            <p>Fiddleheads Cafe</p>
            <a class="color-red" href="http://www.fiddleheadscatering.net/" target="_blank">http://www.fiddleheadscatering.net</a>
            <h4>Preferred Tent Rental:</h4>
            <p>Monadnock Tents & Events</p>
            <a class="color-red" href="http://www.monadnocktent.com/" target="_blank">http://www.monadnocktent.com</a>
            <h4>Portable Restroom Rentals:</h4>
            <a class="color-red" href="https://davesseptic.net/" target="_blank">https://davesseptic.net</a>
        </div>
    </section>
</main>